# Included because many Paas's require a requirements.txt file in the project root
# Just installs the production requirements.

Flask==2.0.1
gunicorn==20.1.0
openai==0.10.1
python-dateutil==2.8.2
python-dotenv==0.18.0
python-twitter==3.5
requests==2.26.0
tqdm==4.61.2
tweepy==3.10.0